@use 'colors' as *;
@use 'reset' as *;
@use 'breakpoints' as *;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');


@mixin button($color) {
  background: $color;
  color: $white;
  padding: 9px 24px 11px;
  border-radius: 28px;
  border: none;
}

// * {
//   outline: solid 1px red;
// }

@mixin font-fam {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@mixin grid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin paragraph {
  @include font-fam;
  color: $card-p;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;

}

@mixin nav-footer {
  display: flex;
  width: auto;
  justify-content: space-between;
}

.body {
  background: $background-c;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
  padding: 16px;

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    @include font-fam;

  }

  h2 {
    @include font-fam;

    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
  }

  @include xl {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.header {
  @include xl {
    // grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr
  }

  nav {
    @include nav-footer;
    padding: 16px;

    span {
      @include font-fam;
      font-size: 28px;
      font-weight: 800;
      line-height: 35px;
      color: $heading-color;

    }
  }

  button {
    @include button($heading-color);

    &:hover {
      background-color: $button1-hover;
    }
  }

}

.section-1 {

  h1 {
    @include font-fam;
    height: 101px;
    width: 343px;
    color: $heading-color;
    font-size: 40px;
    font-weight: 800;
    margin: 26px 0;
    line-height: 50.4px;
  }

  .started {
    @include button($gradient-bg);
    border-radius: 31.5px;
    margin: 24px 0;

    &:hover {
      @include button($button2-hover);
    }
  }

  .tablet-img, .desktop-img{
    display: none;
  }

  .image {
    height: 329.933349609375px;
    width: 238.72311401367188px;

    & img {
      height: 329.933349609375px;
    
    }

      @include md {
        .img {
          display: none;
        }

        .tablet-img {
          display: block;
        }
      }

      @include xl {
        .tablet-img {
          display: none;
        }

        .desktop-img{
          display: block;
        }
      }
  }

  .opening-p {
    @include paragraph;
    height: 78px;
    width: 343px;
  }

  @include xl {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main {

  .call-to-action-text {
    border-radius: 10px;
    color: $white;
    height: 120px;
    width: 343px;
    padding: 24px;
    background: $gradient-bg;

    & p {
      @include font-fam;
      font-size: 24px;
      font-weight: 800;
      line-height: 32px;
      letter-spacing: 0px;
    }

    @include md {
      height: 259px;
      width: 339px;
      border-radius: 10px;

    }

    @include xl {
      height: 322px;
      width: 350px;
      border-radius: 15px;

      & p {
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;

      }

    }
  }

  ul {
    & .common {
      margin: 40px 0;

      padding: 28px;
      background: $white;
      height: 259px;
      width: 343px;
      border-radius: 10px;

      h2 {
        color: $card-h2;
      }

      p {
        @include paragraph;
        height: 78px;
        width: 286px;

      }

      span {
        color: $get-started-text;
        display: inline-block;
        margin-top: 24px
      }
    }

    @include md {
      @include grid(2);
      gap: 0 0;
      & .common {
        height: 259px;
        width: 340px;
        border-radius: 10px;
      }
    }

    @include xl {
      @include grid(3);

      & .common {
        height: 322px;
        width: 350px;
        border-radius: 15px;
      }
    }
  }
}


footer {
  @include nav-footer;
  align-items: center;
  background-color: $heading-color;
  padding: 36px 16px;
  height: 120px;
  width: auto;
  border-radius: 0px;
  color: $white;

  span {
    @include font-fam;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0px;

  }

  button {
    @include button($footer-btn);

    &:hover {
      @include button($footer-btn-hover);
    }

  }
}