@use 'colors' as *;

@mixin button($color){
  background:$color;
  color: $white;
  padding:9px 24px 11px ;
  border-radius: 28px;
  border: none;
}

.header{

  nav {
    display: flex;
    
  }

  button {
   @include button($heading-color);
  }
}